@model ValidotinExample_1.Models.Person
@{
    ViewData["Title"] = "Index";
}

<table>
    <tr>
        <td>ID: </td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Adı: </td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Soyadı: </td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>Meslek: </td>
        <td>@Model.Job</td>
    </tr>
    <tr>
        <td>ID: </td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>ID: </td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>E-Posta Adresi: </td>
        <td>@Model.MailAddress</td>
    </tr>
    <tr>
        <td>Plaka No: </td>
        <td>@Model.CityId</td>
    </tr>
    <tr>
        <td>Telefon No: </td>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <td>Web Adresi: </td>
        <td>@Model.WebAddress</td>
    </tr>
</table>

